<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/login"  method="POST">
        {% csrf_token %}
        <input type="text" name = 'user'/>
        <input type="test" name ='pwd'/>
        <input type="submit" value="提交"/>
        <input id="bnt"  type="button" value="按钮">
    </form>
    <script src="/static/jquery-1.12.4.js"></script>
    <script src="/static/jquery.cookie.js"></script>
    <script>
        $(function () {
            $.ajaxSetup({
                beforeSend:function (xhr,settings){
                    xhr.setRequestHeader('X-CSRFtoken', $.cookie('csrftoken'));

                }
            })

            $('#bnt').click(function () {
                $.ajax({
                    url:'/login',
                    type:"POST",
                    data:{'user':'root','pwd':'123'},
                    success:function (arg) {
                        
                    }

                })
            })
        })
    </script>

</body>
</html>